ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li{
    display: -webkit-box;
    width: 150px;
    height: 35px;
    float: left;
    line-height: 100px;
    background: rgb(211, 199, 199);
    border: solid;
    border-color: black;
    -webkit-box-align: center;
}


ul li a{
    position: absolute;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
}