ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li{
    width: 150px;
    height: 50px;
    float: left;
    line-height: 100px;
    background: rgb(211, 199, 199);
    border: solid;
    border-color: black;
}

ul li:first-child{
    border-top-left-radius: 30%;
}

ul li:last-child{
    border-top-right-radius: 30%;
}