@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

*{
  box-sizing: border-box;
}

html,
body{
  height: 100%;
}

body{
  --text-color: hsl(0 95% 60%);
  --bg-color: hsl(0 0% 100%);
  --bg-size: 200px;

  display: grid;
  place-content: center;
  place-items: center;
  grid-template-areas: "body";
  overflow: hidden;
  font-family: "Dela Gothic One",sans-serif;
  background-color: var(--bg-color);
}

body::before{
  --size: 150vmax;
}
