/* カスタムプロパティ */
:root{
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;

    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --grayDark: #9baacf;
}


/* 属性のスタイルを指定 */
$shadow: .3rem .3rem .6rem var(--greyLight-2),
-.2rem -.2rem .5rem var(--white);
$inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
inset -.2rem -.2rem .5rem var(--white);


/* befor after要素を指定 */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/* htmlのスタイルを指定 */
html{
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-y: scroll;
    background: var(--greyLight-1);

    @media screen and (min-width: 900px){
        font-size: 75%;
    }
}


/* containerのスタイルを指定 */
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: (--greyLight-1);
}


/* componentsのスタイルを指定 */
.compornents{
    width: 75rem;
    height: 40rem;
    border-radius: 3rem;
    box-shadow: .8rem .8rem 1.4rem var(--greyLight-2),
                -.2rem -.2rem 1.8rem var(--white);
    padding: 4rem;
    display: grid;
    grid-template-columns: 17.6rem 19rem 20.4rem;

    /* repeat関数でgridのレスポンシブを指定 */
    grid-template-rows: repeat(autofit, min-content);
    grid-column-gap: 5rem;
    grid-row-gap: 2.5rem;
    align-items: center;
}


/* トグルボタンのスタイルを指定 */
.switch{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gird-gap: 3rem;
    justify-self: center;
    input{display: none;}

    &__1, &__2{
        width: 6rem;
        label{
            display: flex;
            align-itens: center;
            width: 100%;
            height: 3rem;
            box-shadow: $shadow;
            background: rgba(255, 255, 255, 0);
            position: relative;
            cursor: pointer;
            border-radius: 1.6rem;

            /* トグルボタンの●部分を指定 */
            &::after{
                content: "";
                position: absolute;
                left: .4rem;
                width: 2.1rem;
                height: 2.1rem;
                border-radius: 50%;
                background: var(--grayDark);
                transition: all .4s ease;
            }

            /* スイッチを切り替えた時の表示を指定 */
            &::before{
                content: '';
                width: 100%;
                height: 100%;
                border-radius: inherit;
                background: linear-gradient(330deg, var(--primary-dark)0%, var(--primary)50%, var(--primary-light)100%);
                opacity: 0;
                transition: all .4s ease;
            }
        }
    }

    /* トグルボタンがonになっている時のスタイルを指定 */
    &input:checked{
        & ~ label{
            &::before{opacity: 1;}
            &::after{
                left: 57%;
                background: var(--greyLight-1);
            }
        }
    }
}


/* チェックボックスのスタイルを指定 */
.checkbox{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, 6rem);
    grid-gap: 3rem;
    justify-content: center;
    input{display: none;}

    &__1, &__2{
        width: 6rem;
        display: flex;
        ustify-content: center;
        align-items: center;
        border-radius: .5rem;
        width: 2.8rem;
        height: 2.8rem;

        &:hover i {color: var(--primary);}

        i{
            font-size: 1.8rem;
            font-width: 700;
            color: var(--greyDark);
            transition: .3s ease;
        }
    }

    /* チェックボックスがonになっている時のスタイルを指定 */
    & input:checked{
        & ~ label{
            box-shadow: $inner-shadow;
            i{
                color: var(--primary);
            }
        }
    }
}


/* ラジオボタンのスタイルを実装 */
.radio{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    input{display: none;}

    &__1, &__2{
        & input:checked{
            & ~ label{
                box-shadow: $inner-shadow;
                &::after{
                    background: var(--primary);
                }
            }
        }

        label{
            box-shadow: $shadow;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 2.8rem;
            heirht: 2.8rem;
            border-radius: 50%;

            &:hover {&::after{background: var(--primary);}}

            &::after{
                content: "";
                position: absolute;
                width: 1.4rem;
                height: 1.4rem;
                background: var(--grayDark);
                border-radius: 50%;
                transition: 0.3s ease;
            }
        }
    }
}


/* ボタンのスタイルを実装 */
.btn{
    width: 15rem;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: $shadow;
    justify-self: center;
    display: felx;
    align-item: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;

    &__primary{
        grid-column: 1/2;
        grid-row: 4/5;
        background: var(--primary);
        box-shadow: inset .2rem .2rem 1rem var(--primary-light),
                    inset .2rem .2rem 1rem var(--primary-dark), &shadow;
        color: var(--greyLight);

        &:hover{color: var(--white);}

        &:active{
            box-shadow: inset .2rem .2rem 1rem var(--primary-dark),
            inset -.2rem -.2rem 1rem var(--primary-light);
        }
    }

    &__secondary{
        grid-column: 1/2;
        grid-row: 5/6;
        color: var(--grayDark);

        &:hover{color: var(--primary);}

        &:active{box-shadow: $inner-shadow;}
    }

    p{
        font-size: 1.6rem;
    }
}


/* 時計のスタイルを実装 */
.clock{
    grid-column: 2/3;
    grid-row: 1/3;
    width: 12rem;
    height: 12rem;
    justify-content: center;
    box-shadow: $shadow;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-items: center;
    position: relative;
    
    .hand{
        position: absolute;
        transform-origin: bottom;
        bottom: 6rem;
        border-radius: .2rem;
        z-index: 200;
    }
    
    .hours{
        width: .4rem;
        height: 3.2rem;
        background: var(--greyLight-3);
    }
    
    .minutes{
        width: .4rem;
        height: 4.6rem;
        background: var(--greyDark);
    }
    
    .seconds{
        width: .2rem;
        height: 5.2rem;
        background: var(--primary);
    }
    
    .point{
        position: abusolute;
        width: .8rem;
        height: .8rem;
        border-radius: 50%;
        background: var(--primary);
        z-index: 300;
    }
    
    .marker{
        width: 95%;
        height: 95%;
        border-radius: 50%;
        position: relative;
        box-shadow: $inner-shadow;
        
        &::after{
            content:'';
            width: 60%;
            height: 60%;
            position: absolute;
            box-shadow: inset 1px 1px 1px var(--greyLight-2),
            inset 1px 1px 1px var(--white);
            border-radius: 50%;
            top: 20%;
            left: 20%;
            filter: blur(1px);
        }
        
        &__1, &__2, &__3, &__4{
            position: absolute;
            border-radius: .1rem;
            box-shadow: inset 1px 1px 1px var(--greyLight-2),
            inset -1px -1px 1px var(--white);
        }
    }
}
