:root{
    --point-1-top: 220px;
    --point-1left: 120px;

    --point-2-top: 20px;
    --point-2-left: 220px;

    --point-3-top: 130px;
    --point-3-left: 10px;

    --point-4-top: 155px;
    --point-4-left: 260px;

    --point-width: 15px;
    --point-height: 15px;

    --point-1-scale: 5;
    --point-2-scale: 3;
    --point-3-scale: 5;
    --point-4-scale: 4;
}


.description p{
    margin: 0;
    font-size: 12px;
    z-index: -1;
    color: #ffffff;
}


.image-indicators img{
    width: 100%;
    border-radius: 10px;
    transition: width 0.4s ease, transform 0.4s ease;
}


.image-indicators{
    position: relative;
    width: 400px;
    border-radius: 10px;
    over-flow: hidden;
    font-size: 0;
    margin: auto;
}


.image-indicators label{
    display: flex;
    position: absolute;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 300ms;
    transition: opacity 0.3s ease-out .5s;
    z-index: 1;
}


.image-indicators>label>span {
    background-color: #2196f3;
    width: 10px;
    height: 10px;
    border-radius: 60px;
    transform: scale(1);
}


.image-indicators>label>span>span {
    display: inline-block;
    vertical-align: 20px;
    background-color: rgba(33, 150, 243, 1);
    width: 10px;
    height: 10px;
    transform: scale(0);
    border-radius: 60px;
    animation: scaleGrow 3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation-play-state: running;
}


@keyframes scaleGrow{
    from{
        transform: scale(0);
        background-color: rgba(33, 150, 243, 1);
    }
    to{
        transform: scale(3);
        opaciti: 0;
    }
}


@keyframes scaleDecreases{
    from{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);
    }
    to{
        transform: scale(1);
    }
}


.point{
    position: absolute;
    width: 10px;
    height: 10px;
    cursor: pointer;
    z-index: 2;
    transition-property: width,height,left,top;
    transition-dealy:650me
}


.point:checked {
    top: -50% !important;
    left: -50% !important;
    width: 200%;
    height: 200%;
    z-index: 9;
}


.point:checked ~ label{
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: opacity 0.3s ease-out 0s;
}


.description{
    position: relative;
    height: 45px;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 1px 10px 10px;
    color: black;
    z-index: 1;
}


.description div:first-child{
    display: block;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 300ms;
    transition: opacity 0.3s ease-out .5s;
}
